/PROYECTO/PROYECTO1/CODIGO/Ipc1-proyecto1-201503936/nbproject/private/
/PROYECTO/PROYECTO2/CODIGO/PROYECTO2-201503936/nbproject/private/
/PROYECTO/PROYECTO2/CODIGO/Prueba/nbproject/private/
/PROYECTO/PROYECTO2/CODIGO/Prueba/build/
/PROYECTO/PROYECTO2/CODIGO/Ejemplo4-Lab-IPC1-Vacas/nbproject/private/
/PROYECTO/PROYECTO2/CODIGO/Ejemplo4-Lab-IPC1-Vacas/build/
/PROYECTO/PROYECTO2/CODIGO/Ejemplo5-Lab-IPC1-Vacas/nbproject/private/
/PROYECTO/PROYECTO2/CODIGO/Ejemplo5-Lab-IPC1-Vacas/build/